@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #efedd6;
    overflow-x: hidden;
}

h1 {
    margin: 50px;
    font-size: 2.5em;
}

.box {
    background-color: cadetblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.6s ease-out;
}

/* Select all even boxes */
.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 35px;
}